<div class= 'center jumbotron' style='background-color:'>
  <div class='text-center'>
    <h1>Tasklistを始めよう！</h1>
  </div>
  <div class='col-sm-10' style='justify-content-center'>
    <div class="btn-group-vertical">
      <a class='btn btn-info' href='#' role='button'>アカウントを作成</a>
      <a class='btn btn-outline-info' href='#' role='button'>ログイン</a>
    </div>
  </div>
</div>